
:root{
    --main-color:#23caac;
    --color-1:#eaa023;
    --color-2:#e91e63;
    --dark-800:#24292d;
    --dark-700:#2f363e;
    --white-900:#ffffff;
    --white-800:rgba(255,255,255,0.8);
    --shadow:0 0 15 rgba(0,0,0,0.2);
    scroll-behavior: smooth;
}

body{
    font-family: lato;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Lato', sans-serif;
    color:#333;
    line-height:1.6;
}

.container{
    max-width:1100px;
    margin:0 auto;
    padding:0 40px;
    overflow:auto;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    overflow: hidden;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.grid-3{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
}

.card{
    background-color: var(--dark-700);
    color:rgb(252, 248, 248);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding:20px;
    margin:10px;
}

.btn{
    display:inline-block;
    padding:10px 30px;
    cursor: pointer;
    background: var(--main-color);
    color: rgb(255, 235, 235);
    border:none;
    border-radius:5px;
}

.btn-outline{
    background-color:transparent;
    border:1px rgb(255, 255, 255) solid;
}

.btn:hover{
    transform: scale(0.98);
}

.text-center{
    text-align: center;
}

ul{
    list-style-type: none;
    display:flex;
}

a{
    text-decoration: none;
    color:#333;
}

h1, h2{
    font-weight: 300;
    line-height:1.2;
    margin:10px 0;
    cursor:default;
}

p{
    cursor:default;
}

img{
    width:100%;
}

/* -----------margin------------ */

.my-1{margin:1rem 0;}
.my-2{margin:1.5rem 0;}
.my-3{margin:2rem 0;}
.my-4{margin:3rem 0;}
.my-5{margin:4rem 0;}
.m-1{margin:1rem;}
.m-2{margin:1.5rem;}
.m-3{margin:2rem;}
.m-4{margin:3rem;}
.m-5{margin:4rem;}

/* -------------padding----------- */

.py-1{padding:1rem 0;}
.py-2{padding:1.5rem 0;}
.py-3{padding:2rem 0;}
.py-4{padding:3rem 0;}
.py-5{padding:4rem 0;}
.p-1{padding:1rem;}
.p-2{padding:1.5rem;}
.p-3{padding:2rem;}
.p-4{padding:3rem;}
.p-5{padding:4rem;}